header{
    background-color: #465763;
    padding: 15px 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left h2 a {
    font-size: 25px;
    font-weight: bold;
    color: #0a0910;
    text-decoration: none;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

ul li {
    list-style: none;
}

ul li a {
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #f7f6fe;
    border-radius: 4px;
}